@media screen and (min-width: 1400px) {
    .none-img {
        display: block;

        background-image: url(./img/photo\ 1.png);
        background-position: center;
        background-size: cover;

        width: 280px;
        height: 253px;

    }

    .img {
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 30px;


    }

    .photograf-img {
        width: 360px;
        height: 350px;

    }


    .container {
        padding-top: 70px;
        padding-left: 126px;
        padding-right: 150px;
    }

    .text>h1 {

        width: 365px;
        height: 93px;
        font-weight: bold;
        font-size: 55px;
        line-height: 101.38%;

    }

    .text>p {
        width: 580px;
        font-size: 26px;
        line-height: 150%;
        margin-top: 20px;
    }

    .footer {
        margin-top: 94px;
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        justify-content: space-between;

    }


    .info {
        height: 70px;
       width: 200px;
        margin-left: 20px;
       
    }

.info>p{
font-size: 20px;
}


.info>h3{
    font-size: 25px;
}

    .header {
        justify-content: space-between;

    }

}